.modal{
    display: none;
    position: fixed;
    z-index: 1000;/*dộ ưu tiên */
    left: 0;
    top: 0;
    gap: 10px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(0,0,0,0.7);/*nền mờ*/
}
.modal-content{
    width: 360px;
    height: auto;
    padding: 20px;
    margin: 15% auto;
    overflow: auto;
    scrollbar-width: none; 
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(1,1,1,1);/*đổ bóng*/
    background-color: rgb(202, 240, 243);
}
.modal-content input[type="text"]{
    box-shadow: 0 3px 8px rgba(0, 0, 0,0.7);/*đổ bóng*/
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
}
.modal-content div{
    box-shadow: 0 3px 8px rgba(0, 0, 0,0.7);/*đổ bóng*/
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    display: flex;
    margin-top: 30px;
}
.modal-content input[type="radio"] {
    width: 20%;
    height: 25px;
}
.modal-content div h4{
    width: 80%;
    margin: auto;
}
.modal-content select{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.7);/*đổ bóng*/
    border-radius: 5px;
    margin-bottom: 15px;
    height: 35px;
    width: calc(100% + 7px);
}
.modal-content textarea{
    box-shadow: 0 3px 8px rgba(0, 0, 0,0.7);/*đổ bóng*/
    border-radius: 5px;
    width: calc(100% + 1px);
    margin-bottom: 15px;
}
.modal-content button{
    box-shadow: 0 3px 8px rgba(0, 0, 0,0.7);/*đổ bóng*/
    border-radius: 5px;
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover {
  color: red;
}

.modal-content button:active {
  transform: scale(0.95);
  background-color: #7dac45;
}
